body {
	margin: 0;
	height: 100vh;
	background-color: #1e1e2e;
	color: #1e1e2e;
}

input {
	padding: 8px;
	width: 25vw;
	height: 24px;
	background-color: #cdd6f4;
	border: none;
	border-radius: 8px;
}

button {
	background-color: #89b4fa;
	border: none;
	border-radius: 8px;
}

*:focus {
	outline: none;
}

.card {
	margin: 32px;
	padding: 8px;
	display: block;
	border-radius: 8px;
	background-color: #313244;
	font-size: 18px;
	color: #cdd6f4;
}

#lobby {
	height: 100vh;
	display: flex;
}

#lobby-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
}

#title {
	font-size: 24px;
	color: #cdd6f4;
}

#join {
	padding: 8px;
	width: 100%;
	height: 40px;
}

#game {
	height: 100vh;
}

#button-container {
	margin-bottom: 32px;
	position: fixed;
	bottom: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	gap: 16px;
	background-color: #1e1e2e;
}

#click,
#bully {
	width: 128px;
	height: 64px;
	font-size: 18px;
}

#bully {
	background-color: #f38ba8;
}

#bully:disabled {
	background-color: #313244;
	color: #1e1e2e;
}

#time,
#host-time,
#score {
	width: 128px;
	height: 64px;
	border-radius: 8px;
	background-color: #313244;
	text-align: center;
	line-height: 64px;
	font-size: 18px;
	color: #74c7ec;
}

#time,
#host-time {
	position: fixed;
	right: 32px;
	bottom: 32px;
}

#score {
	position: fixed;
	left: 32px;
	bottom: 32px;
}

#scoreboard,
#host-scoreboard {
	width: 100vw;
	height: 100vh;
}

#scoreboard {
	height: 80vh;
	overflow-y: scroll;
}

#ready {
	height: 100vh;
	display: flex;
}

#start {
	margin: auto;
	width: 25vw;
	height: 64px;
	font-size: 36px;
}

#waiting {
	margin: auto;
	font-size: 36px;
	color: #cdd6f4;
}

#countdown {
	height: 100vh;
	display: flex;
}

#countdown-3,
#countdown-2,
#countdown-1,
#countdown-go {
	margin: auto;
	font-size: 48px;
	color: #cdd6f4;
}
